.header img {
    height: 60px;
    width: 70px;
    margin-right: 10px;
    border-radius: 10px;
}
.header a{
    position: relative;
    top: 15px;
    color: white;
    text-decoration: none;
    
}
.header{
    margin-bottom: 50px;
    display: flex;
}
.title{
    margin-top: 20px;
}